.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

.btn--primary {
    background-color: var(--color-dark-slate-grey);
    color: white;

    &:hover {
        background-color: var(--color-tomato);
        box-shadow: var(--color-tomato) 0px 25px 40px -12px;
    }
}