.list-with-icon {
    list-style: none;
    padding-left: 0;
    margin: 2rem 0;

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        
        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }
}