@use "../abstracts/mixins" as *;

h1 {
    color: var(--color-dark-slate-grey);
    font-size: 2rem;
}

h2 {
    color: var(--color-dark-slate-grey);
    font-size: 3rem;
    line-height: 1;
}

@include mediaQuery {
    h1 {
        font-size: 3rem;
    }
}